{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/login.css'%}" />
        <title>Login</title>
    </head>
    <body class="flex-column">
        <form action="dologin/" method="post" class="flex-column form">
            {% csrf_token %}
            <div class="form-content">
                <h2>Login</h2>
                
                <div>
                    <span>Usuario</span>
                    {{ form.usuario }}
                </div>

                <div>
                    <span>Senha</span>
                    {{ form.senha }}
                </div>
            </div>

            <button type="submit">Enviar</button>
        </form>
         
    </body>
</html>
